<div class="grid-container">
    <mat-grid-list cols="4" rowHeight="200">
        <mat-grid-tile class="center" [colspan]="this.tamano.col" [rowspan]="this.tamano.row">
            <mat-card class="dashboard-card">
                <mat-progress-bar *ngIf="this.loanding" mode="indeterminate"></mat-progress-bar>
                <mat-card-header>
                    <mat-card-title>
                        PENDIENTES POR SEDE
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    <form [formGroup]="submitForm" (ngSubmit)="submit()">
                        <table class="example-full-width" cellspacing="0">
                            <tr>
                                <td>
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Sede</mat-label>
                                        <mat-select formControlName="SedeId" matNativeControl>
                                            <mat-option *ngFor="let plan of sedes" [value]="plan.Id">
                                                {{ plan.Descripcion }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                                <td>
                                </td>
                            </tr>
                        </table>

                        <button mat-raised-button color="primary" [disabled]="!submitForm.valid"
                            *ngIf="!loanding && !loanding2">Consultar</button>
                    </form>
                </mat-card-content>

            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
    <div *ngIf="this.respuestas != null">
        <table mat-table [dataSource]="respuestas" class="mat-elevation-z8">
            <ng-container matColumnDef="Periodo">
                <th mat-header-cell *matHeaderCellDef>Periodo</th>
                <td mat-cell *matCellDef="let element"> {{element.Periodo}}
                </td>
            </ng-container>
            <ng-container matColumnDef="Orden">
                <th mat-header-cell *matHeaderCellDef>#</th>
                <td mat-cell *matCellDef="let element"> {{element.Orden}}
                </td>
            </ng-container>
            <ng-container matColumnDef="Pregunta">
                <th mat-header-cell *matHeaderCellDef>Pregunta</th>
                <td mat-cell *matCellDef="let element" class="puntos">
                    <mat-icon mat-list-icon (click)="ver(element.Pregunta)">receipt</mat-icon>
                    {{element.Pregunta}}
                </td>
            </ng-container>
            <ng-container matColumnDef="Observacion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Observacion</th>
                <td mat-cell *matCellDef="let element">
                    <mat-icon mat-list-icon (click)="ver(element.Observacion)">receipt</mat-icon>
                </td>
            </ng-container>
            <ng-container matColumnDef="Valor">
                <th mat-header-cell *matHeaderCellDef>Valor</th>
                <td mat-cell *matCellDef="let element" [ngClass]="calcularColor(element)"> {{element.Valor2}}
                </td>
            </ng-container>
            <ng-container matColumnDef="Limite">
                <th mat-header-cell *matHeaderCellDef>Fecha Limite</th>
                <td mat-cell *matCellDef="let element"> {{element.Limite | date:'yyyy/MM/dd':'UTC' }}
                </td>
            </ng-container>
            <ng-container matColumnDef="Delegada">
                <th mat-header-cell *matHeaderCellDef>Linea Delegada</th>
                <td mat-cell *matCellDef="let element"> {{element.Delegada}}
                </td>
            </ng-container>
            <ng-container matColumnDef="Realizacion">
                <th mat-header-cell *matHeaderCellDef>Fecha Realizacion</th>
                <td mat-cell *matCellDef="let element"> {{element.Realizacion | date:'yyyy/MM/dd':'UTC' }}
                </td>
            </ng-container>

            <ng-container matColumnDef="Indicador">
                <th mat-header-cell *matHeaderCellDef>Indicador</th>
                <td mat-cell *matCellDef="let element"> {{element.Indicador / 100 | percent:'1.1-2'}}
                </td>
            </ng-container>
            <ng-container matColumnDef="Cumplimiento">
                <th mat-header-cell *matHeaderCellDef>Cumplimiento</th>
                <td mat-cell *matCellDef="let element"> {{element.Cumplimiento / 100 | percent:'1.1-2'}}
                </td>
            </ng-container>
            <ng-container matColumnDef="Comentario">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Comentario</th>
                <td mat-cell *matCellDef="let element">
                    <mat-icon mat-list-icon (click)="ver(element.Comentario)">receipt</mat-icon>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>