<div class="grid-container">
    <mat-grid-list cols="4" rowHeight="300">
        <mat-grid-tile class="center" [colspan]="this.tamano.col" [rowspan]="this.tamano.row">
            <mat-card class="dashboard-card">
                <mat-progress-bar *ngIf="this.loanding" mode="indeterminate"></mat-progress-bar>
                <mat-card-header>
                    <mat-card-title>
                        ENCUESTA {{ this.periodo}}
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    <div>
                        <!-- {{ this.preguntas | json }} -->
                        <!-- {{ this.misSedes | json }} -->
                        <div class="row" *ngIf="this.encuesta.SedeId == 0">
                            <div class="col-6" *ngFor="let sede of this.misSedes | orderBy : 'Estado'">
                                <button class="sedes" mat-raised-button color="primary" [disabled]="sede.Estado"
                                    (click)="seleccionarSede(sede.Id)">
                                    {{ sede.Descripcion }}
                                </button>
                            </div>
                        </div>

                        <div *ngIf="this.encuesta.SedeId != 0">
                            <h1>{{ this.preguntaActiva.Orden }}. {{this.preguntaActiva.Grupo}} -> {{
                                this.preguntaActiva.Descripcion }}</h1>
                            <mat-radio-group *ngIf="this.preguntaActiva.Tipo == 'Numerica'" class="example-radio-group"
                                [(ngModel)]="varloRespuesta">
                                <mat-radio-button value="1" class="example-radio-button">1</mat-radio-button>
                                <mat-radio-button value="2" class="example-radio-button">2</mat-radio-button>
                                <mat-radio-button value="3" class="example-radio-button">3</mat-radio-button>
                                <mat-radio-button value="4" class="example-radio-button">4</mat-radio-button>
                                <mat-radio-button value="5" class="example-radio-button">5</mat-radio-button>
                            </mat-radio-group>
                            <mat-radio-group *ngIf="this.preguntaActiva.Tipo != 'Numerica'" class="example-radio-group"
                                [(ngModel)]="varloRespuesta">
                                <mat-radio-button value="0" class="example-radio-button">No Aplica</mat-radio-button>
                                <mat-radio-button value="1" class="example-radio-button">NO</mat-radio-button>
                                <mat-radio-button value="5" class="example-radio-button">SI</mat-radio-button>
                            </mat-radio-group>
                            <br>
                            <mat-form-field>
                                <mat-label>Observacion</mat-label>
                                <textarea matInput rows="5" placeholder="Observacion" [(ngModel)]="observacionRespuesta"
                                    maxlength="4000"></textarea>
                            </mat-form-field>
                            <div class="row">
                                <button class="col avance" mat-raised-button color="primary"
                                    [disabled]="esPrimeraPregunta" (click)="anteriorPregunta()">
                                    <mat-icon>fast_rewind</mat-icon>
                                </button>
                                <button class="col avance" mat-raised-button color="primary"
                                    [disabled]="esUltimaPregunta" (click)="siguientePregunta()">
                                    <mat-icon>fast_forward</mat-icon>
                                </button>
                            </div>
                            <div class="row">
                                <button class="col-12 avance" mat-raised-button color="primary" *ngIf="esUltimaPregunta"
                                    (click)="guardar(true)">
                                    GUARDAR
                                </button>
                                <br>
                                <button class="col-12 avance" mat-raised-button color="warn" (click)="cancelar()">
                                    CANCELAR
                                </button>
                            </div>
                        </div>
                        <!-- {{ this.encuesta | json }} -->
                    </div>
                </mat-card-content>

            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>