<div class="grid-container">
    <mat-grid-list cols="4" rowHeight="200">
        <mat-grid-tile class="center" [colspan]="this.tamano.col" [rowspan]="this.tamano.row">
            <mat-card class="dashboard-card">
                <mat-progress-bar *ngIf="this.loanding" mode="indeterminate"></mat-progress-bar>
                <mat-card-header>
                    <mat-card-title>
                        SEDES<br>
                        <section>
                            <button mat-mini-fab color="primary" (click)="openDialog()">
                                <mat-icon>plus_one</mat-icon>
                            </button>
                        </section>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    <div *ngIf="this.dataSource != null">
                        <table mat-table [dataSource]="dataSource" #mytable class="mat-elevation-z8">
                            <ng-container matColumnDef="EmpresaId">
                                <th mat-header-cell *matHeaderCellDef>EmpresaId</th>
                                <td mat-cell *matCellDef="let element"> {{element.EmpresaId}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="Empresa">
                                <th mat-header-cell *matHeaderCellDef>Empresa</th>
                                <td mat-cell *matCellDef="let element"> {{element.Empresa}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="SedeId">
                                <th mat-header-cell *matHeaderCellDef>SedeId</th>
                                <td mat-cell *matCellDef="let element"> {{element.SedeId}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="Sede">
                                <th mat-header-cell *matHeaderCellDef>Sede</th>
                                <td mat-cell *matCellDef="let element"> {{element.Sede}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="Codigo">
                                <th mat-header-cell *matHeaderCellDef>Codigo</th>
                                <td mat-cell *matCellDef="let element"> {{element.Codigo}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="Tipo">
                                <th mat-header-cell *matHeaderCellDef>Tipo</th>
                                <td mat-cell *matCellDef="let element"> {{element.Tipo}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="UsuarioId">
                                <th mat-header-cell *matHeaderCellDef>UsuarioId</th>
                                <td mat-cell *matCellDef="let element"> {{element.UsuarioId}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="Departamento">
                                <th mat-header-cell *matHeaderCellDef>Departamento</th>
                                <td mat-cell *matCellDef="let element"> {{element.Departamento}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="Usuario">
                                <th mat-header-cell *matHeaderCellDef>Usuario</th>
                                <td mat-cell *matCellDef="let element"> {{element.Usuario}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="Base">
                                <th mat-header-cell *matHeaderCellDef>Base</th>
                                <td mat-cell *matCellDef="let element"> {{element.Base}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="accion">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                                <td mat-cell *matCellDef="let element">
                                    <div class="example-button-row">
                                        <button mat-flat-button color="primary"
                                            (click)="editar(element.SedeId, element.EmpresaId, element.Sede, element.UsuarioId, element.Base, element.Tipo, element.Codigo, element.DepartamentoId)"
                                            class="mr-2">Editar</button>
                                        <!-- <button mat-flat-button color="warn" *ngIf="!element.bloqueo" (click)="bloquear(element.guid)" class="mr-2">Bloquear</button> -->
                                    </div>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>


                    </div>
                    <mat-paginator [pageSizeOptions]="[30, 60]" showFirstLastButtons [pageSize]="60"></mat-paginator>
                </mat-card-content>

            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>