<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="['/index/crear']" routerLinkActive="mat-list-single-selected-option">LLenar</a>
      <a mat-list-item [routerLink]="['/index/historico']" routerLinkActive="mat-list-single-selected-option">Historico</a>
      <a mat-list-item [routerLink]="['/index/editar/24']" routerLinkActive="mat-list-single-selected-option">Editar</a>
      <a mat-list-item [routerLink]="['/admin/users']" *ngIf="this.m.datosUsuario.Rol == 'Admin'">Usuarios</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar align="end" color="primary">
      <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>VIGIAS DEL SOL</span>
      <!-- {{ m.titulo }} -->
      <span class="example-spacer"></span> 
      <button mat-icon-button [matMenuTriggerFor]="menus">
        <mat-icon>face</mat-icon>
      </button>
      <mat-menu #menus="matMenu">
        <a mat-menu-item>
          {{ m.datosUsuario.Usuario }} ({{ m.datosUsuario.Perfil }})
        </a>
        <a [routerLink]="['/login']" mat-menu-item>Logout</a>
      </mat-menu>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>