.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky; 
    top: 0;
    z-index: 1;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  .activa{
    color: aqua;
  }

  mat-sidenav-content {
    background-color: #eee;
  }

  @media print {
    h1 {
      color: blue;
      display: none;
    }
    mat-sidenav{
      display: none;  
      visibility: hidden;    
    }
    mat-card-title{
      display: none;
      visibility: hidden;  
    }
    mat-toolbar{
      display: none;
      visibility: hidden;  
    }
  }