<div *ngIf="loanding">
  <p style="text-align: center;">Cargando detalles</p>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div *ngIf="!loanding">
  <h2 mat-dialog-title style="margin-bottom: 0px;">Crear sede</h2>
  
  <mat-dialog-content class="mat-typography">
    <form [formGroup]="submitForm" (ngSubmit)="submit()">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>                                          
            <mat-form-field class="example-full-width">
              <mat-label>Empresa</mat-label>
              <mat-select formControlName="EmpresaId" matNativeControl>
                  <mat-option *ngFor="let plan of empresas" [value]="plan.Id">
                      {{ plan.Descripcion }}
                  </mat-option>
              </mat-select>
          </mat-form-field>
          </td>
          <td>                                         
            <mat-form-field class="example-full-width">
                <mat-label>Nombre de la Sede</mat-label>
                <input matInput maxlength="20" formControlName="Sede">
            </mat-form-field>
          </td>         
      </tr>
      <tr>
        <td>                                          
          <mat-form-field class="example-full-width">
            <mat-label>Encuestador</mat-label>
            <mat-select formControlName="UsuarioId" matNativeControl>
                <mat-option *ngFor="let plan of encuestadores" [value]="plan.Id">
                    {{ plan.Descripcion }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        </td>
        <td>                                         
          <mat-form-field class="example-full-width">
              <mat-label>valor base</mat-label>
              <input type="number" step="25" min="0" max="50" matInput maxlength="2" formControlName="Base">
          </mat-form-field>
        </td>         
    </tr>
      </table>
      <button mat-raised-button color="primary" [disabled]="!submitForm.valid" *ngIf="!loanding && !loanding2">Crear</button>
  </form>
  </mat-dialog-content>
  <div mat-dialog-actions>
    <button mat-flat-button color="warn" *ngIf="!this.loanding" (click)="onNoClick()">CERRAR</button>
  </div>
</div>